body { margin: 0px auto; padding: 0px; }
li { list-style: none; padding-left: 20px; }
table { margin: auto; }
td { padding: 16px; }
th { font-size: 20px; font-weight: bold; color: #333333; text-align: left; padding: 10px; }
tr:nth-child(even) { background-color: #EEEEEE; }
#mainMenu { width: 100%; position: fixed; top: 0px; background: #EEEEEE; }
#mainHoriz { margin: 0px; }
#mainHoriz li { float: left; }
#linkDrop { display: inline-block; background: url('/media/images/NextPress_menuButton.png') no-repeat; border: none; cursor: pointer; height: 32px; width: 148px; position: relative; }
#linkDrop:hover #mainMenuList { display: block; }
#mainMenuList { display: none; position: absolute; min-width: 260px; z-index: 1; top: 32px; }
#dropList li { float: none; background: #444444; padding: 5px; padding-top: 10px; }
#dropList li a { text-decoration: none; color: #EEEEEE; }
#pageDiv { margin: 50px auto; }
#page-name { font: 24px bold; margin-top: 5px; }
#cat-edit { float: right; margin-right: 40px; padding-left: 0px; padding-right: 50px; position: fixed; top: 60px; right: 0px; }
#nestable { margin: auto; padding-top: 50px; }
span.pagesub { float: right; margin-right: 64px; }
li.editor-entry { float: right; }
li.spacer { height: 12px; width: 20px; }
li.horiz { float: left; }
li.tiles { float: left; padding: 25px; font-weight: bold; text-decoration: none; text-align: center; }
div.spacer { height: 40px; }
div.config-section { margin-top: 40px; }
div.form-div { background: #EEEEEE; padding: 20px; margin: 40px; float: left; }
span.config-section { margin-left: 40px; font-weight: bold; font-size: 20px; }
span.err { margin-left: 40px; font-weight: bold; font-size: 20px; color: #AA4444; }
span.notice { padding-left: 40px; font-size: 11px; }

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

