#archive-div { background-color: #EEEEEE; width: 200px; overflow: scroll; }
li.arch-year { font-size: 14px; font-weight: bold; }
li.arch-month { font-size: 12px; font-style: italic; padding-left: 5px; }
li.arch-article a { text-decoration: none; font-size: 11px; padding-left: 10px; }

