#article-head { }
#article-title { font-size: 16px; font-weight: bold; }
#pub-date { font-size: 12px; }
#times-viewed { font-size: 11px; }
#author { font-size: 14px; }
#author img { float: left; }
#author a { font-size: 11px; }
#article-content { }

