body { margin: 0px auto; padding: 0px; }
li { list-style: none; }
p.centered { margin: 0px auto; padding: 0px; }

/* Archives.tpl */
#archive-div { background-color: #EEEEEE; width: 200px; overflow: scroll; }
li.arch-year { font-size: 14px; font-weight: bold; padding-top: 5px; }
li.arch-month { font-size: 12px; font-style: italic; padding-left: 5px; padding-top: 5px; }
li.arch-article a { text-decoration: none; font-size: 11px; padding-left: 10px; padding-top: 5px; }

/* ArticleContent.tpl */
#article-head { }
#article-title { font-size: 16px; font-weight: bold; }
#pub-date { font-size: 12px; }
#times-viewed { font-size: 11px; }
#author { font-size: 14px; }
#author img { float: left; }
#author a { font-size: 11px; }
#article-content { }

/* ArticleList.tpl */
#teaser-list li { padding: 5px 0px 5px 10px; border-bottom: 1px solid #999999; height: 100px; width: 880px; }
#teaser-list li img { float: left; padding-right: 10px; max-height: 90px; max-width: 120px; }
#teaser-list li a { text-decoration: none; font-size: 12px; font-weight: bold; }
#teaser-list li p { font-size: 11px; }

/* DisqusComments.tpl 
   disqus styling can be modified here */

/* MainMenu.tpl
    Dropdown menu css from HTML Dog example at:
    http://htmldog.com/examples/dropdowns3/
*/
#main_nav ul { background: #EEEEEE; float: left; -webkit-transition: .5s; transition: .5s; }
#main_nav li { float: left; position: relative; width: 150px; list-style: none; -webkit-transition: .5s; transition: .5s; }
#main_nav a { display: block; text-decoration: none; padding: 5px 15px; color: #333333; }
#main_nav ul ul { position: absolute; left: 0; top: 100%; visibility: hidden; opacity: 0; }
#main_nav ul ul ul { left: 100%; top: 0; }
#main_nav li:hover, #main_nav li:hover li { background: #FFFFFF; }
#main_nav li li:hover, #main_nav li li:hover li { background: #FFFFFF; }
#main_nav li li li:hover { background: #FFFFFF; }
#main_nav li:hover > ul { visibility: visible; opacity: 1; }

/* RelatedArticles.tpl */
#related-list li { padding: 5px 0px 5px 10px; border-bottom: 1px solid #999999; height: 100px; width: 880px; }
#related-list li img { float: left; padding-right: 10px; max-height: 90px; max-width: 120px; }
#related-list li a { text-decoration: none; font-size: 12px; font-weight: bold; }
#related-list li p { font-size: 11px; }

